{{template "head" .}}
<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			{{template "narbar" .}}
		</div>
	</div>
	<div class="container">
		<div class="page-header">
			<h1>用户登录</h1>
			<!--将表单显示成一行 form中加入： class="form-inline" -->
			<form role="form" method="post" action="/login">
			  <div class="form-group">
			    <label for="exampleInputEmail1">用户名称</label>
			    <input type="text" class="form-control" id="uname" name="uname" placeholder="请输入用户名">
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">用户密码</label>
			    <input type="password" class="form-control" name="upwd" id="upwd" placeholder="请输入用户密码">
			  </div>
			  <div class="checkbox">
			    <label>
			      <input type="checkbox" name="autoLogin" id="autoLogin"> 记住我
			    </label>
			  </div>
			  <button type="submit" class="btn btn-default">登录</button>
			</form>
	
		</div>
	</div>
</body>
</html>

